<!DOCTYPE HTML>
<html>

<head>
    <title>Math Application</title>
    <link type="text/css" href="/static/css/style.css" rel="stylesheet"/>
    <meta charset="UTF-8">
</head>

<body id="body">

<div>
    <input class="Input" id="first" type="text" name="first" value="1">
    <input class="Input" id="second" type="text" name="second" value="1">
</div>

<div>
    <button class="Button" id="plus" name="plus">Plus</button>
    <button class="Button" id="minus" name="minus">Minus</button>
</div>

<div id="sum">

</div>

<script src="/static/js/main.js">
</script>
<script src="/static/js/jquery-3.4.1.min.js">
</script>

</body>
</html>